.wrapper {
    margin: '24px 16px 0';
    .mainBody{
        background: '#fff';
        min-height: 420px;
        .mainCard {
            background-color:'#ECECEC';
            padding: 15px;
            .noCursor{
                cursor: default;
            }
            .cardHeight {
                height: 300px;
                min-height: 300px;
                min-width: 400px;
                flex: 2;
                min-height: 100%;
                .boxImg {
                    object-fit: fill;
                    width: 100%;
                    height: 270px;
                }
                table, span{
                    color: white;
                }
                ul {
                    margin-top: 14px;
                    font-feature-settings: "tnum";
                    list-style: none;
                  }
                  li {
                    color: white;
                    font-size: 14px;
                    line-height: 35px;
                    height: 35px;
                  }
                    label {
                        padding-right: 20px;
                    }
            }
        }
        .cardTitle {
            border: 1px solid #2e2ef1;
            min-height: 48px;
            margin-bottom: -1px;
            padding: 0 24px;
            color: #09aff1;
            font-weight: 500;
            font-size: 16px;
            background: transparent;
            border-bottom: 1px solid #2e2ef1;
            border-radius: 2px 2px 0 0;
            zoom: 1;
        }
            .cardHead {
                flex: 1;
                padding: 16px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        .cardBack {
            border: 1px solid #2e2ef1;
            background-color:transparent;
        }
    }
}