$fontFamily: "Roboto-Regular";
$fontColor: #71777c;
$fontColorActive: #3f51b5;
.nav {
  height: 60px;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 -5px 15px black;
  position: fixed;
  z-index: 9998;
  transition: top 1s ease; // dashboard full screen switch
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
  }
  .left {
    margin: 0;
    height: 100%;
    width: 232px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    float: left;
  }
  .middle {
    position: absolute;
    margin-left: 300px;
    height: 100%;
    //width: calc(100% - 320px - 232px);
    .selected {
      color: $fontColorActive;
      font-weight: 500;
      &:after{
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: $fontColorActive;
        position: absolute;
        bottom: 0;
        transform: scaleX(1);
        transition: all .2s ease;
      }
    }
    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      li {
        a {
          text-decoration: none;
          color: $fontColor;
          height: 100%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          position: relative;
          transition: all .2s ease;
          outline: none;
          &:hover {
            color: $fontColorActive;
            font-weight: 500;
          }
          &:after{
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background-color: $fontColorActive;
            position: absolute;
            bottom: 0;
            transform: scaleX(0);
            transition: all .2s ease;
          }
          &:hover:after {
            transform: scaleX(1);
          }
        }
        font-family: 'MFYueYuan_Noncommercial-Regular';
        font-size: 20px;
        height: 100%;
        margin-right: 62px;
      }
    }
  }
}