.wrapper {
    padding-top: 64px;
    box-shadow: 0 -5px 15px black;
    .mainBody{
        background: '#fff';
        padding: 24px 0;
        .mainCard {
            padding: 0 15px;
            .noCursor{
                cursor: default;
            }
            .cardHeight {
                height: 35vh;
                min-height: 300px;
                padding: 5px;
                flex: 2;
                .boxImg {
                    min-height: 290px;
                    object-fit: fill;
                    width: 100%;
                    height: 100%;
                }
                table, span {
                    color: white;
                    width: 100%;
                    text-align: left;
                    border-radius: 4px 4px 0 0;
                    border-collapse: collapse;
                }
                    th, td {
                        padding: 8px 8px;
                        border-bottom: 1px solid #e8e8e8;
                        border-radius: 4px;
                    }
                img {
                    // margin-top: 30px;
                }
            }
        }
        .cardTitle {
            border: 1px solid #2e2ef1;
            min-height: 48px;
            margin-bottom: -1px;
            padding: 0 24px;
            color: #09aff1;
            font-weight: 500;
            font-size: 16px;
            background: transparent;
            border-bottom: 1px solid #2e2ef1;
            border-radius: 2px 2px 0 0;
            zoom: 1;
        }
            .cardHead {
                flex: 1;
                padding: 16px 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        .cardBack {
            border: 1px solid #2e2ef1;
            background-color:transparent;
        }
    }
}