.mainBody {
  min-height: 420px;
  .mainCard {
    padding: 15px;
    .faultCard {
      .extraWrap {
        line-height: 55px;
        .opt {
          display: inline-block;
          margin-right: 24px;
          a {
            color: rgba(0,0,0,.65);
            margin-left: 24px;
          }
          .currentDate {
            color: #1890ff;
          }
        }
        .picker {
          width: 256px;
        }
      }
      .searchBar {
        padding-bottom: 20px;
        .searchBtn {
          float: right;
        }
        .rangePicker {
          float: right; 
          margin-right: 24px;
        }
        .label {
          display: block;
          height: 32px; 
          line-height: 32px; 
          float: right;
        }
        .select {
          float:right;
          margin-right: 24px; 
          min-width: 100px;
        }
      }
    }
  }
}