.wrapper{
    margin-top: 60px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .mainBody{
        width: calc(100% - 232px);
        height: 100%;
        padding: 0 40px;
        left: 232px;
        z-index: 1;
        top: 0;
        box-sizing: border-box;
        background-color: #f6f7fa;
        position: absolute; 
        .readCrumbNav {
            position: relative;
            font-size:14px;
            font-family:Roboto-Regular;
            color:#71777C;
            height: 60px;
            padding-top: 15px;
            border-bottom: 1px solid rgba(204,204,204,1);
            box-sizing: border-box;
            line-height:0px;
            .searchBar {
                position: relative;
                float: right;
                height: 32px;
                width: 260px;
                padding: 0 30px 0 10px;
                box-sizing: border-box;
                background-color: white;
                overflow: hidden;
                border: 1px solid #c0c3c8;
                border-radius: 5px;
                input {
                outline: none;
                border: none;
                height: 30px;
                width: 100%;
                font-size: 14px;
                color: #333c48;
                }
                i {
                position: absolute;
                top: 16px;
                right: 5px;
                font-size: 23px;
                color: #666666;
                }
            }
        }
        .chartsWrapper {
            width: 100%;
            height: calc(100% - 30px);
            padding:0 38px;
            position: relative;
            margin-top: 16px;
            box-sizing: border-box;
            border: 1px solid #dfe2e5;
            border-radius: 5px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: white;
            .pdfWrapper {
                width: 100%;
                height: calc(100% - 120px);
                box-shadow: 3px 5px 5px 0 #a0a0a0;
                background-color: rgb(64, 68, 71);
                display: block;
            }
        }
    }
}